

body{
    background: url(https://media.istockphoto.com/photos/grunge-wall-picture-id174931919?b=1&k=20&m=174931919&s=612x612&w=0&h=RSJTMDSlVW5A_hwIv4aCBXU17fc-lNOl03bTWxTEM_8=);
     
}
@media only screen and (max-width:321px){
    
    #a2 polygon{
        transform: translate(-449px, 0px);
        margin-right: 0%;
    }
    #a2 text{
        transform: translate(-449px, 0px);
    }
   svg.visible{
    width: 320px;
    }
    

}
@media only screen and (max-width:376px) and (min-width:321px){
    
    #a2 polygon{
        transform: translate(-393px, 0px);
        margin-right: 0%;
    }
    #a2 text{
        transform: translate(-393px, 0px);
    }
    #a2 svg{
        width: 375px;
    }
    svg.visible{
        width: 375px;
        }
}

@media only screen and (max-width:426px) and (min-width:376px){
    
    #a2 polygon{
        transform: translate(-342px, 0px);
        margin-right: 0%;
    }
    #a2 text{
        transform: translate(-342px, 0px);
    }
    #a2 svg{
        width: 425px;
    }
    svg.visible{
        width: 425px;
        }
}
@media only screen and (max-width:769px) and (min-width:426px){
    
    #a2 polygon{
        transform: translate(-2px, 0px);
        margin-right: 0%;
    }
    #a2 text{
        transform: translate(-2px, 0px);
    }
    #a2 svg{
        width: 768px;
    }
    svg.visible{
        width: 768px;
        }
}

#s2{
    display: none;
}
#s3{
    display: none;
}
nav{
    z-index: 2;
      position:fixed;
      height: 85px;
       /* max-width: 768px; */
  }
 
  .navbar{
  
    text-align:center !important;
    background-color: black;
    padding: 15px;
    font-family: "Poppins", sans-serif;
  }
  .navbar-dark{
      background-color: rgb(16,16,16);
  
  }
  .nav-link:hover{
      color: rgb(255,255,255)!important;
  }
  .dropdown-item:hover{
      color: rgb(55, 53, 52)!important;
  
  }
#a1{
    margin-top: 60px !important;
    margin-left: 0px;
    margin-right: 0px;
}
#a2{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
text{
    font-family: 'Cardo', serif;
}

/* .hidden{
    visibility: hidden;
    
}
.hidden:hover{
    visibility: visible;
    
}
.try{
    display: none;
}
.visible{
    visibility: visible;
} */

p{
    color: #000;
}

#img1{
    width: 146px;
    height: 146px;
    border-radius: 30px;
    padding: 10px
}
div{
  margin-left: 20px;
}